html, body {
  overflow-x: hidden;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
header {
  padding: 20px 20px 150px 20px;
}

.pixel2-phone {
  transform: translate(0px, -100px);
}

.inline-list-icon {
  display: inline;
  margin: 5px;
}
